
{% extends 'pages/base.html' %}
{% load static %}

{% block content %}
<div class="page-wrapper">
 <div class="row">
      <div class="col-md-12">
         <div class="card">
            <div class="card-header">
               <h5 class="form-title"><span>Equipement</span></h5>
            </div>
            {% include 'includes/messages.html' %}	
            <div class="card-body">
               <form method="POST" action="" enctype="multipart/form-data">
                  {% csrf_token %}
                 
                  <div class="row">
                     <div class="col-md-6">
                        {{ form.as_p }}
                    </div>
                        
                  </div>
                  <div class="text-right">
                     <button type="submit" class="btn btn-primary">Ajouter</button>
                  </div>
               </form>
            </div>
         </div>
      </div>
   </div>
   



     

  <div class="content container-fluid">
    <div class="page-header">
       <div class="row align-items-center">
          
         
       </div>
    </div>
    {% include 'includes/messages.html' %}
   <div class="row">
      <div class="col-sm-12">
         <div class="card card-table">
            <div class="card-body">
               <div class="table-responsive">
                  <table id="table_id" class="table table-hover table-center mb-0">
                     <thead>
                        <tr>
                              <th>ID</th>
                               <th>CodeDistrict </th>
                              <th>NomDistrict</th>

                              <th>NbreCasesDesTtPetits </th>
                              <th>NbreGarderie </th>
                              <th>NbreMaternelle </th>
                              <th>NbrePrescoTt </th>
                              <th>NbreStructPrescoDisposantCantinSclre </th>
                              <th>NbreSCLocalNormalPresco </th>
                              <th>NbreSCSituationAbrisProvsrPresco </th>
                              <th>NbreSallesTtPresco </th>
                              <th>NbreStructPrescoAyantClotur </th>
                              <th>NbreStructPrescoAyantElectricit </th>
                              <th>NbreToTLatrinFonctionel </th>
                              <th>LatrinFonctionelGrcons </th>
                              <th>LatrinFonctionnelFilles </th>
                              <th>NbrePlacesAssises </th>
                              <th>NbreElevPresco </th>
                              <th>NbrePontEauCournt </th>
                              <th>NbreEnftBeneficDeparasitgMTN </th>
                              <th>NbreEnftBeneficieDeparasitgFER </th>
                              <th>NbreStructElmntaireAyantCantinScolair </th>
                              <th>NbreSCPrimAvecLocalNormal </th>
                              <th>NbreSCPrimSituationAbriProvisoir </th>
                              <th>NbreSallesTTPrim </th>
                              <th>NbreStructurAyantCloturPrim </th>
                              <th>TTLatrineFonctionnelPrim </th>
                              <th>LatrinFonctionnelGrconsPrim </th>
                              <th>LatrinsFonctionnelFilles </th>
                              <th>NbreEcolPublicAyantElectricite </th>
                              <th>NbreEauCourantePrim </th>
                              <th>NbrePlacAssisStructurPublic </th>
                              <th>NbrePlacAssisStructurPrive </th>
                              <th>NbreElvStructurPublicPrimair </th>
                              <th>NbreElvStructurPublicPrive </th>
                              <th>NbreSalleClassAvecLocalNormal </th>
                              <th>NbreSalleClassPrimrSituatAbriProvisoir </th>
                              <th>NbreSalleTotEtablisPrimPublic </th>
                              <th>NbreGrpPedagogicPrim </th>
                              <th>NbreClassePhysicPrim </th>
                              <th>NbreEcolEquipeSalleITPrim </th>
                              <th>NbreEcolPrimAyantConexionNet </th>
                              <th>NbreStructreAyantCatinScolreMG </th>
                              <th>NbreSalleClassAcLocalNormalMG </th>
                              <th>NbreSalleClassSituatAbriProvisoirMG </th>
                              <th>NbreSalleTotalMG </th>
                              <th>NbreStructurElmntreAyantCloturMG </th>
                              <th>TotLatrinFonctionnelMG </th>
                              <th>LatrinFonctionnelGrconsMG </th>
                              <th>LatrinFonctionnelFilleMG </th>
                              <th>NbreEcolPublicAyantElectMG </th>
                              <th>NbreEauCouranteMG </th>
                              <th>NbrePlaceAssisStructurPublicMG </th>
                              <th>NbrePlacAssiseStructurPrivMG </th>
                              <th>NbreElvStructurPublicMG </th>
                              <th>NbreElevStructurPrivMG </th>
                              <th>NbreSalleClassAvcLocalNormalMG </th>
                              <th>NbreGrpPedagogicMG </th>
                              <th>NbreClassPhysicMG </th>
                              <th>NbreEcolEquipSalleTIMG </th>
                              <th>NbreEcolAyantConnexionInetMG </th>
                              <th>NbreStructurAyantCatinScolreSe </th>
                              <th>NbreSalleClassAvecLocalNormalSecd </th>
                              <th>NbreSalleClassSituatAbriProvisScndre </th>
                              <th>NbreSallesTTSecondaire </th>
                              <th>NbreStructurScndrAyantClotur </th>
                              <th>TTLatrinFonctionnelScndr </th>
                              <th>LatrinGrconFonctionelScndr </th>
                              <th>LatrinFillesFonctionelScndr </th>
                              <th>NbreEcolPublicAyantElectScndr </th>
                              <th>NbreEauCourantScndr </th>
                              <th>NbrePlacAssisStructPublicScndr </th>
                              <th>NbrePlacAssisStructPrivScndr </th>
                              <th>NbreElvStructPublicScndr </th>
                              <th>NbreElvStructPrivScndr </th>
                              <th>NbreSalleDeClassAvcLocalNormalScndr </th>
                              <th>NbreSalleTTScndrPublic </th>
                              <th>NbreGrpPedagogicScndr </th>
                              <th>NbreClassPhysicScndr </th>
                              <th>NbreEcolEquipSalleITScndr </th>
                              <th>NbreEcolAyantConexionNetScndr </th>
                              <th>date</th>
                              <th>date_modification</th>
                         
                              <th class="text-right">Action</th>
                            </tr>
                     </thead>
                     <tbody>
                        {% for stud in dataObject %}
                         <tr>
                          
                            <td>{{ stud.id }}</td><td>{{ stud.CodeDistrict  }}</td>
                           <td>{{ stud.NomDistrict }}</td>

                           <td>{{ stud.NbreCasesDesTtPetits  }}</td>
                           <td>{{ stud.NbreGarderie  }}</td>
                           <td>{{ stud.NbreMaternelle  }}</td>
                           <td>{{ stud.NbrePrescoTt  }}</td>
                           <td>{{ stud.NbreStructPrescoDisposantCantinSclre  }}</td>
                           <td>{{ stud.NbreSCLocalNormalPresco  }}</td>
                           <td>{{ stud.NbreSCSituationAbrisProvsrPresco  }}</td>
                           <td>{{ stud.NbreSallesTtPresco  }}</td>
                           <td>{{ stud.NbreStructPrescoAyantClotur  }}</td>
                           <td>{{ stud.NbreStructPrescoAyantElectricit  }}</td>
                           <td>{{ stud.NbreToTLatrinFonctionel  }}</td>
                           <td>{{ stud.LatrinFonctionelGrcons  }}</td>
                           <td>{{ stud.LatrinFonctionnelFilles  }}</td>
                           <td>{{ stud.NbrePlacesAssises  }}</td>
                           <td>{{ stud.NbreElevPresco  }}</td>
                           <td>{{ stud.NbrePontEauCournt  }}</td>
                           <td>{{ stud.NbreEnftBeneficDeparasitgMTN  }}</td>
                           <td>{{ stud.NbreEnftBeneficieDeparasitgFER  }}</td>
                           <td>{{ stud.NbreStructElmntaireAyantCantinScolair  }}</td>
                           <td>{{ stud.NbreSCPrimAvecLocalNormal  }}</td>
                           <td>{{ stud.NbreSCPrimSituationAbriProvisoir  }}</td>
                           <td>{{ stud.NbreSallesTTPrim  }}</td>
                           <td>{{ stud.NbreStructurAyantCloturPrim  }}</td>
                           <td>{{ stud.TTLatrineFonctionnelPrim  }}</td>
                           <td>{{ stud.LatrinFonctionnelGrconsPrim  }}</td>
                           <td>{{ stud.LatrinsFonctionnelFilles  }}</td>
                           <td>{{ stud.NbreEcolPublicAyantElectricite  }}</td>
                           <td>{{ stud.NbreEauCourantePrim  }}</td>
                           <td>{{ stud.NbrePlacAssisStructurPublic  }}</td>
                           <td>{{ stud.NbrePlacAssisStructurPrive  }}</td>
                           <td>{{ stud.NbreElvStructurPublicPrimair  }}</td>
                           <td>{{ stud.NbreElvStructurPublicPrive  }}</td>
                           <td>{{ stud.NbreSalleClassAvecLocalNormal  }}</td>
                           <td>{{ stud.NbreSalleClassPrimrSituatAbriProvisoir  }}</td>
                           <td>{{ stud.NbreSalleTotEtablisPrimPublic  }}</td>
                           <td>{{ stud.NbreGrpPedagogicPrim  }}</td>
                           <td>{{ stud.NbreClassePhysicPrim  }}</td>
                           <td>{{ stud.NbreEcolEquipeSalleITPrim  }}</td>
                           <td>{{ stud.NbreEcolPrimAyantConexionNet  }}</td>
                           <td>{{ stud.NbreStructreAyantCatinScolreMG  }}</td>
                           <td>{{ stud.NbreSalleClassAcLocalNormalMG  }}</td>
                           <td>{{ stud.NbreSalleClassSituatAbriProvisoirMG  }}</td>
                           <td>{{ stud.NbreSalleTotalMG  }}</td>
                           <td>{{ stud.NbreStructurElmntreAyantCloturMG  }}</td>
                           <td>{{ stud.TotLatrinFonctionnelMG  }}</td>
                           <td>{{ stud.LatrinFonctionnelGrconsMG  }}</td>
                           <td>{{ stud.LatrinFonctionnelFilleMG  }}</td>
                           <td>{{ stud.NbreEcolPublicAyantElectMG  }}</td>
                           <td>{{ stud.NbreEauCouranteMG  }}</td>
                           <td>{{ stud.NbrePlaceAssisStructurPublicMG  }}</td>
                           <td>{{ stud.NbrePlacAssiseStructurPrivMG  }}</td>
                           <td>{{ stud.NbreElvStructurPublicMG  }}</td>
                           <td>{{ stud.NbreElevStructurPrivMG  }}</td>
                           <td>{{ stud.NbreSalleClassAvcLocalNormalMG  }}</td>
                           <td>{{ stud.NbreGrpPedagogicMG  }}</td>
                           <td>{{ stud.NbreClassPhysicMG  }}</td>
                           <td>{{ stud.NbreEcolEquipSalleTIMG  }}</td>
                           <td>{{ stud.NbreEcolAyantConnexionInetMG  }}</td>
                           <td>{{ stud.NbreStructurAyantCatinScolreSe  }}</td>
                           <td>{{ stud.NbreSalleClassAvecLocalNormalSecd  }}</td>
                           <td>{{ stud.NbreSalleClassSituatAbriProvisScndre  }}</td>
                           <td>{{ stud.NbreSallesTTSecondaire  }}</td>
                           <td>{{ stud.NbreStructurScndrAyantClotur  }}</td>
                           <td>{{ stud.TTLatrinFonctionnelScndr  }}</td>
                           <td>{{ stud.LatrinGrconFonctionelScndr  }}</td>
                           <td>{{ stud.LatrinFillesFonctionelScndr  }}</td>
                           <td>{{ stud.NbreEcolPublicAyantElectScndr  }}</td>
                           <td>{{ stud.NbreEauCourantScndr  }}</td>
                           <td>{{ stud.NbrePlacAssisStructPublicScndr  }}</td>
                           <td>{{ stud.NbrePlacAssisStructPrivScndr  }}</td>
                           <td>{{ stud.NbreElvStructPublicScndr  }}</td>
                           <td>{{ stud.NbreElvStructPrivScndr  }}</td>
                           <td>{{ stud.NbreSalleDeClassAvcLocalNormalScndr  }}</td>
                           <td>{{ stud.NbreSalleTTScndrPublic  }}</td>
                           <td>{{ stud.NbreGrpPedagogicScndr  }}</td>
                           <td>{{ stud.NbreClassPhysicScndr  }}</td>
                           <td>{{ stud.NbreEcolEquipSalleITScndr  }}</td>
                           <td>{{ stud.NbreEcolAyantConexionNetScndr  }}</td>
                           <td>{{ stud.date }}</td>
                           <td>{{ stud.date_modification }}</td>
                              <td class="text-right">
                              <div class="actions">
                                  <a href="{% url 'education:update_equ' stud.id %}" class="btn btn-sm bg-success-light mr-2">
                                  <i class="fas fa-pen"></i>
                                  </a>
                                  <a href="{% url 'education:delete_eq' stud.id %}" class="btn btn-sm bg-danger-light">
                                  <i class="fas fa-trash"></i>
                                  </a>
                               </div>
                            </td>
                         </tr>
                         {% endfor %}
                      </tbody>
                   </table>
                </div>
             </div>
          </div>
       </div>
    </div>

    
 </div>
 {% endblock %}	