
{% extends 'pages/base.html' %}
{% load static %}

{% block content %}
<div class="page-wrapper">
 <div class="row">
      <div class="col-md-12">
         <div class="card">
            <div class="card-header">
               <h5 class="form-title"><span>Performance</span></h5>
            </div>
            {% include 'includes/messages.html' %}	
            <div class="card-body">
               <form method="POST" action="" enctype="multipart/form-data">
                  {% csrf_token %}
                 
                  <div class="row">
                     <div class="col-md-6">
                        {{ form.as_p }}
                    </div>
                        
                  </div>
                   <br>
                     <div class="col-12">
                        <button type="submit" class="btn btn-primary">Ajouter</button>
                     </div>
               </form>
            </div>
         </div>
      </div>
   </div>
   



     
<div >
  <div class="content container-fluid">
    <div class="page-header">
       <div class="row align-items-center">
          
         
       </div>
    </div>
    {% include 'includes/messages.html' %}
    <div class="row">
       <div class="col-sm-12">
          <div class="card card-table">
             <div class="card-body">
                <div class="table-responsive">
                   <table id="table_id" class="table table-hover table-center mb-0">
                      <thead>
                         <tr>
                              <th>ID</th><th>CodeDistrict</th>
                                 <th>NomDistrict </th>

                                 <th>NbreNvxInscriCPAnT</th>
                                 <th>NbreRedoublanCPAnT</th>
                                 <th>NbreElevesCiAnneeT_1</th>
                                 <th>NbreNvxInscriCE1AnT</th>
                                 <th>NbreNvxInscriCE2AnT</th>
                                 <th>NbreNvxInscriCM1AnT</th>
                                 <th>NbreNvxInscriCM2AnT</th>
                                 <th>NbreRedoublanCE1AnT</th>
                                 <th>NbreRedoublanCE2AnT</th>
                                 <th>NbreRedoublanCM1AnT</th>
                                 <th>NbreRedoublanCM2AnT</th>
                                 <th>NbreElevCpAnT_1</th>
                                 <th>NbreElevCE1AnT_1</th>
                                 <th>NbreElevCE2AnT_1</th>
                                 <th>NbreElevCM1AnT_1</th>
                                 <th>NbreElevCM2AnT_1</th>
                                 <th>NbreNvxInscri5emAnT</th>
                                 <th>NbreNvxInscri4emAnT</th>
                                 <th>NbreNvxInscri3emAnT</th>
                                 <th>NbreNvxInscri1erAnT</th>
                                 <th>NbreNvxInscriTleAnT</th>
                                 <th>NbreRedoublan5emAnT</th>
                                 <th>NbreRedoublan4emAnT</th>
                                 <th>NbreRedoublan3emAnT</th>
                                 <th>NbreRedoublan1erAnT</th>
                                 <th>NbreRedoublanTleAnT</th>
                                 <th>NbreElvs6emAnT_1</th>
                                 <th>NbreElvs5emAnT_1</th>
                                 <th>Nbre4emAnT_1</th>
                                 <th>Nbre2ndeAnT_1</th>
                                 <th>NbreElev1erAnT_1</th>
                                 <th>NbreNvxInscriGrconCM2AnT</th>
                                 <th>NbreNvxInscriFilleCM2AnT</th>
                                 <th>PopJeunAge11ansAnT</th>
                                 <th>NbreNvxInscri3emGrconAnT</th>
                                 <th>NbreNvxInscri3emFilleAnT</th>
                                 <th>PopJeunAge15ansAnT</th>
                                 <th>NvxInscri6eme</th>
                                 <th>NvxFilleInscri6em</th>
                                 <th>NvxGrconInscri6em</th>
                                 <th>EffectTTInscriCm2AnT_1</th>
                                 <th>NvxInscri2ndAnT</th>
                                 <th>NvxGrconInscri2nd</th>
                                 <th>NvxFilleInscri2nd</th>
                                 <th>efectifTTInscrit3emAnT_1</th>
                                 <th>NbreNvxInscriTleAnT</th>
                                 <th>NbreFilleNvxInscriTle</th>
                                 <th>NbreGrconNvxInscriTle</th>
                                 <th>PopJeunAge18ansAnT</th>
                                 <th>PopJeunGrçsAge18ansAnT</th>
                                 <th>PopJeunFille18ansAnT</th>
                                 <th>ResultatCFEE</th>
                                 <th>ResultatCFEE_F</th>
                                 <th>ResultatCFEE_G</th>
                                 <th>ResultatBFEM</th>
                                 <th>ResultatBFEM_F</th>
                                 <th>ResultatBfem_G</th>
                                 <th>ResultatBac</th>
                                 <th>ResultatBac_F</th>
                                 <th>ResultatBac_G</th>
                                 <th>date</th>
                                 <th>date_modification</th>
                              <th class="text-right">Action</th>
                         </tr>
                      </thead>
                      <tbody>
                        {% for stud in dataObject %}
                         <tr>
                          
                                 <td>{{ stud.id }}</td>
                                 <td>{{ stud.CodeDistrict}}</td>
                                 <td>{{ stud.NomDistrict }}</td>

                                 <td>{{ stud.NbreNvxInscriCPAnT}}</td>
                                 <td>{{ stud.NbreRedoublanCPAnT}}</td>
                                 <td>{{ stud.NbreElevesCiAnneeT_1}}</td>
                                 <td>{{ stud.NbreNvxInscriCE1AnT}}</td>
                                 <td>{{ stud.NbreNvxInscriCE2AnT}}</td>
                                 <td>{{ stud.NbreNvxInscriCM1AnT}}</td>
                                 <td>{{ stud.NbreNvxInscriCM2AnT}}</td>
                                 <td>{{ stud.NbreRedoublanCE1AnT}}</td>
                                 <td>{{ stud.NbreRedoublanCE2AnT}}</td>
                                 <td>{{ stud.NbreRedoublanCM1AnT}}</td>
                                 <td>{{ stud.NbreRedoublanCM2AnT}}</td>
                                 <td>{{ stud.NbreElevCpAnT_1}}</td>
                                 <td>{{ stud.NbreElevCE1AnT_1}}</td>
                                 <td>{{ stud.NbreElevCE2AnT_1}}</td>
                                 <td>{{ stud.NbreElevCM1AnT_1}}</td>
                                 <td>{{ stud.NbreElevCM2AnT_1}}</td>
                                 <td>{{ stud.NbreNvxInscri5emAnT}}</td>
                                 <td>{{ stud.NbreNvxInscri4emAnT}}</td>
                                 <td>{{ stud.NbreNvxInscri3emAnT}}</td>
                                 <td>{{ stud.NbreNvxInscri1erAnT}}</td>
                                 <td>{{ stud.NbreNvxInscriTleAnT}}</td>
                                 <td>{{ stud.NbreRedoublan5emAnT}}</td>
                                 <td>{{ stud.NbreRedoublan4emAnT}}</td>
                                 <td>{{ stud.NbreRedoublan3emAnT}}</td>
                                 <td>{{ stud.NbreRedoublan1erAnT}}</td>
                                 <td>{{ stud.NbreRedoublanTleAnT}}</td>
                                 <td>{{ stud.NbreElvs6emAnT_1}}</td>
                                 <td>{{ stud.NbreElvs5emAnT_1}}</td>
                                 <td>{{ stud.Nbre4emAnT_1}}</td>
                                 <td>{{ stud.Nbre2ndeAnT_1}}</td>
                                 <td>{{ stud.NbreElev1erAnT_1}}</td>
                                 <td>{{ stud.NbreNvxInscriGrconCM2AnT}}</td>
                                 <td>{{ stud.NbreNvxInscriFilleCM2AnT}}</td>
                                 <td>{{ stud.PopJeunAge11ansAnT}}</td>
                                 <td>{{ stud.NbreNvxInscri3emGrconAnT}}</td>
                                 <td>{{ stud.NbreNvxInscri3emFilleAnT}}</td>
                                 <td>{{ stud.PopJeunAge15ansAnT}}</td>
                                 <td>{{ stud.NvxInscri6eme}}</td>
                                 <td>{{ stud.NvxFilleInscri6em}}</td>
                                 <td>{{ stud.NvxGrconInscri6em}}</td>
                                 <td>{{ stud.EffectTTInscriCm2AnT_1}}</td>
                                 <td>{{ stud.NvxInscri2ndAnT}}</td>
                                 <td>{{ stud.NvxGrconInscri2nd}}</td>
                                 <td>{{ stud.NvxFilleInscri2nd}}</td>
                                 <td>{{ stud.efectifTTInscrit3emAnT_1}}</td>
                                 <td>{{ stud.NbreNvxInscriTleAnT}}</td>
                                 <td>{{ stud.NbreFilleNvxInscriTle}}</td>
                                 <td>{{ stud.NbreGrconNvxInscriTle}}</td>
                                 <td>{{ stud.PopJeunAge18ansAnT}}</td>
                                 <td>{{ stud.PopJeunGrçsAge18ansAnT}}</td>
                                 <td>{{ stud.PopJeunFille18ansAnT}}</td>
                                 <td>{{ stud.ResultatCFEE}}</td>
                                 <td>{{ stud.ResultatCFEE_F}}</td>
                                 <td>{{ stud.ResultatCFEE_G}}</td>
                                 <td>{{ stud.ResultatBFEM}}</td>
                                 <td>{{ stud.ResultatBFEM_F}}</td>
                                 <td>{{ stud.ResultatBfem_G}}</td>
                                 <td>{{ stud.ResultatBac}}</td>
                                 <td>{{ stud.ResultatBac_F}}</td>
                                 <td>{{ stud.ResultatBac_G}}</td>
                                 <td>{{ stud.date}}</td>
                                 <td>{{ stud.date_modification}}</td>
                                 <td class="text-right">
                                <div class="actions">
                                  <a href="{% url 'education:update_perf' stud.id %}" class="btn btn-sm bg-success-light mr-2">
                                  <i class="fas fa-pen"></i>
                                  </a>
                                  <a href="{% url 'education:delete_perf' stud.id %}" class="btn btn-sm bg-danger-light">
                                  <i class="fas fa-trash"></i>
                                  </a>
                               </div>
                            </td>
                         </tr>
                         {% endfor %}
                      </tbody>
                   </table>
                </div>
             </div>
          </div>
       </div>
    </div>

 </div>
 {% endblock %}	