<script>
  'use strict';
  $(document).ready(function() {

    var options = {
      series: [{{palu}}, {{repro}}, {{plan}}, {{survie}}, {{vacc}}],
      chart: {
        height: 350,
        width: '100%',
      type: 'donut',
    },
    plotOptions: {
      pie: {
        startAngle: -90,
        endAngle: 270
      }
    },
    dataLabels: {
      enabled: false
    },
    fill: {
      type: 'gradient',
    },
    legend: {
      formatter: function(val, opts) {
        return val + " - " + opts.w.globals.series[opts.seriesIndex]
      }
    },

    responsive: [{
      breakpoint: 480,
      options: {
        chart: {
          height: 350,
          width: '100%',
        },
        legend: {
          position: 'bottom'
        }
      }
    }]
    };

    var chart = new ApexCharts(document.querySelector("#course"), options);
    chart.render();



      var options = {
        series: [{{dimequ}}, {{dimgou}}, {{dimperf}}, {{dimper}}, {{dimacc}}],
          chart: {
            height: 350,
            width: '100%',
          type: 'pie',
        },
        labels: ['Equipement', 'Gouvernance', 'Performance', 'Personnel', 'Access'],
        responsive: [{
          breakpoint: 480,
          options: {
            chart: {
              height: 350,
              width: '100%',
            },
            legend: {
              position: 'bottom'
            }
          }
        }]
        };

        var chart = new ApexCharts(document.querySelector("#all_details"), options);
        chart.render();




        if ($('#stud_gender').length > 0) {
          var optionsBar = {
              chart: {
                  type: 'bar',
                  height: 350,
                  width: '100%',
                  stacked: true,
                  toolbar: {
                      show: false
                  },
              },
              dataLabels: {
                  enabled: false
              },
              plotOptions: {
                  bar: {
                      columnWidth: '45%',
                  }
              },
              series: [
              {
                  name: "Paludisme",
                  color: '#fdbb38',
                  data: [{{palu}}],
              },


              {
                  name: "Reproduction Jeune",
                  color: '#18affb',
                  data: [{{repro}}],
              },
              
              {
                  name: "Planification Familiale",
                  color: '#59a11a',
                  data: [{{plan}}],
              },
                {
                  name: "Survie Enfant",
                  color: '#a1371a',
                  data: [{{survie}}],
              },
              {
                  name: "Vaccination",
                  color: '#a13731a',
                  data: [{{vacc}}],
              }],
              labels: [2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020],
              xaxis: {
                  labels: {
                      show: false
                  },
                  axisBorder: {
                      show: false
                  },
                  axisTicks: {
                      show: false
                  },
              },
              yaxis: {
                  axisBorder: {
                      show: false
                  },
                  axisTicks: {
                      show: false
                  },
                  labels: {
                      style: {
                          colors: '#777'
                      }
                  }
              },
              title: {
                  text: '',
                  align: 'left',
                  style: {
                      fontSize: '18px'
                  }
              }

          }

          var chartBar = new ApexCharts(document.querySelector('#stud_gender'), optionsBar);
          chartBar.render();
          }

      var options = {
          series:  [{{peche}}, {{pfina}}, {{peino}}, {{pcom}}],
          chart: {
            height: 350,
            width: '100%',
          type: 'scatter',
        },
        plotOptions: {
          pie: {
            startAngle: -90,
            endAngle: 270
          }
        },
        dataLabels: {
          enabled: false
        },
        fill: {
          type: 'gradient',
        },
        legend: {
          formatter: function(val, opts) {
            return val + " - " + opts.w.globals.series[opts.seriesIndex]
          }
        },

        responsive: [{
          breakpoint: 480,
          options: {
            chart: {
              height: 350,
        width: '100%',
            },
            legend: {
              position: 'bottom'
            }
          }
        }]
        };

        var chart = new ApexCharts(document.querySelector("#all"), options);
        chart.render();

  });
</script>
