{% extends 'layout/base.html'%}

{% load static %}


<head>
    <title>{% block title%}education{%endblock%}</title>

</head>



    <header>
        {% include 'layout/partial/header.html' %}
    </header>

    {% block body  %}
	<div class=" px-2 my-3 row row-cols-sm-12" style="padding-right: 0rem !important;
	padding-left: 0rem !important;">

		<div class="col-sm-6">
			<img src="{% static '/imge/abt.png' %}" class="" width="100%" height="100%" alt="About Images">
		</div>

		<div class="col-sm-6"  >

					<p class="para" style="color: #fff;
					align-self: center;
					font-size: 16px;
					font-weight: 150">
					    	<img src="{% static '/imge/CARTE EDUCATIVE_Mont-Rolland.png' %}" class="" width="100%" height="100%" alt="About Images">

		 </div>

	</div>


            <div>
                <div class="text-center my-5" style=" color: #258baf">

                </div>
            </div>






    <!-- JavaScript Libraries -->

    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>

    <script src=" {% static 'lib/easing/easing.min.js '%}"></script>
    <script src=" {% static 'lib/waypoints/waypoints.min.js '%}"></script>
    <script src=" {% static 'lib/owlcarousel/owl.carousel.min.js '%}"></script>
    <script src=" {% static 'lib/tempusdominus/js/moment.min.js '%}"></script>
    <script src=" {% static 'lib/tempusdominus/js/moment-timezone.min.js '%}"></script>
    <script src=" {% static 'lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js '%}"></script>

    <!-- Template Javascript -->
    <!-- script src=" {% static 'js/main.js '%}"></script-->

<!-- diagramme-->




<div class="col-sm-12">
    <div style="width: 100%; height: 100%; display: flex; justify-items: center;margin: 35px;">
    <iframe title="EducationIGT" src=" https://app.powerbi.com/view?r=eyJrIjoiODA5NjUwOGQtYjZkNi00YmNjLTg0ZTItN2E5NGY5M2E1Mzg0IiwidCI6ImJmZTY0YzY0LWIwY2UtNDJiZC04MDlhLWE4ODlhMjJhZGQwOSJ9" allowfullscreen="" width="2000" height="650" frameborder="0"></iframe>
</div>
</div>



</body>


{% endblock %}





