{% extends 'pages/base.html' %}
{% load static %}
{% block content  %}
<div class="page-wrapper">
    <div class="content container-fluid">
       <div class="page-header">
          <div class="row">
             <div class="col-sm-12">
                <h3 class="page-title">Bienvenu&nbsp;{{ user.first_name}} {{ user.last_name}}&nbsp;à Mont Rolland</h3>
                <ul class="breadcrumb">
                   <li class="breadcrumb-item active"></li>
                </ul>
             </div>
          </div>
       </div>
       <div class="row">
          <div>
             <div class="card bg-one w-100">
                <div class="card-body">
                   <div class="db-widgets d-flex justify-content-between align-items-center">
                      
                      <div class="db-info">
                         <h3>{{palu}}</h3>
                         <h6>Paludisme</h6>
                      </div>
                   </div>
                </div>
             </div>
          </div>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <div>
             <div class="card bg-two w-100">
                <div class="card-body">
                   <div class="db-widgets d-flex justify-content-between align-items-center">
                   
                      <div class="db-info">
                         <h3>{{repro}}</h3>
                         <h6>Reproduction Jeune</h6>
                      </div>
                   </div>
                </div>
             </div>
          </div>   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <div>
             <div class="card bg-three w-100">
                <div class="card-body">
                   <div class="db-widgets d-flex justify-content-between align-items-center">
                     
                      <div class="db-info">
                         <h3>{{plan}}</h3>
                         <h6>Planification Familiale</h6>
                      </div>
                   </div>
                </div>
             </div>
          </div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <div >   
             <div class="card bg-four w-100">
                <div class="card-body">
                   <div class="db-widgets d-flex justify-content-between align-items-center">
                     
                      <div class="db-info">
                         <h3>{{survie}}</h3>
                         <h6>Survie Enfant</h6>
                      </div>
                   </div>
                </div>
             </div>
          </div>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <div >
             <div class="card bg-four w-100">
                <div class="card-body">
                   <div class="db-widgets d-flex justify-content-between align-items-center">
                     
                      <div class="db-info">
                         <h3>{{vacc}}</h3>
                         <h6>Vaccination Routine</h6>
                      </div>
                   </div>
                </div>
             </div>
          </div>
             &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
               <div >
             <div class="card bg-four w-100">
                <div class="card-body">
                   <div class="db-widgets d-flex justify-content-between align-items-center">
                     
                      <div class="db-info">
                         <h3>{{dimequ}}</h3>
                         <h6>Equipements</h6>
                      </div>
                   </div>
                </div>
             </div>
          </div>
             &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
               <div >
             <div class="card bg-four w-100">
                <div class="card-body">
                   <div class="db-widgets d-flex justify-content-between align-items-center">
                     
                      <div class="db-info">
                         <h3>{{dimgou}}</h3>
                         <h6>Gouvernance</h6>
                      </div>
                   </div>
                </div>
             </div>
          </div>
             &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
               <div >
             <div class="card bg-four w-100">
                <div class="card-body">
                   <div class="db-widgets d-flex justify-content-between align-items-center">
                     
                      <div class="db-info">
                         <h3>{{dimper}}</h3>
                         <h6>Personnel</h6>
                      </div>
                   </div>
                </div>
             </div>
          </div>
             &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
               <div >
             <div class="card bg-four w-100">
                <div class="card-body">
                   <div class="db-widgets d-flex justify-content-between align-items-center">
                     
                      <div class="db-info">
                         <h3>{{dimperf}}</h3>
                         <h6>Performance</h6>
                      </div>
                   </div>
                </div>
             </div>
          </div>
             &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
               <div >
             <div class="card bg-four w-100">
                <div class="card-body">
                   <div class="db-widgets d-flex justify-content-between align-items-center">
                     
                      <div class="db-info">
                         <h3>{{dimacc}}</h3>
                         <h6>Access</h6>
                      </div>
                   </div>
                </div>
             </div>
          </div>
           
       </div>



       <div class="row">
          <div class="col-md-12 col-lg-6">
             <div class="card card-chart">
                <div class="card-header">
                   <div class="row align-items-center">
                      <div class="col-6">
                         <h5 class="card-title">Education</h5>
                      </div>
                      <div class="col-6">
                         <ul class="list-inline-group text-right mb-0 pl-0">
                            <li class="list-inline-item">
                               <div class="form-group mb-0 amount-spent-select">
                                
                               </div>
                            </li>
                         </ul>
                      </div>
                   </div>
                </div>
                <div class="card-body">
                   <div id="all_details"></div>
                </div>
             </div>
          </div>
          <div class="col-md-12 col-lg-6">
             <div class="card card-chart">
                <div class="card-header">
                   <div class="row align-items-center">
                      <div class="col-6">
                         <h5 class="card-title">Santé</h5>
                      </div>
                      <div class="col-6">
                         <ul class="list-inline-group text-right mb-0 pl-0">
                            <li class="list-inline-item">
                               <div class="form-group mb-0 amount-spent-select">
                                
                               </div>
                            </li>
                         </ul>
                      </div>
                   </div>
                </div>
                <div class="card-body">
                   <div id="stud_gender"></div>
                </div>
             </div>
          </div>
       </div>

       <div class="row">
         <div class="col-md-12 col-lg-6">
            <div class="card card-chart">
               <div class="card-header">
                  <div class="row align-items-center">
                     <div class="col-6">
                        <h5 class="card-title">4</h5>
                     </div>
                     <div class="col-6">
                        <ul class="list-inline-group text-right mb-0 pl-0">
                           <li class="list-inline-item">
                              <div class="form-group mb-0 amount-spent-select">
                                 
                              </div>
                           </li>
                        </ul>
                     </div>
                  </div>
               </div>
               <div class="card-body">
                  <div id="all"></div>
               </div>
            </div>
         </div>
         <div class="col-md-12 col-lg-6">
            <div class="card card-chart">
               <div class="card-header">
                  <div class="row align-items-center">
                     <div class="col-6">
                        <h5 class="card-title">3</h5>
                     </div>
                     <div class="col-6">
                        <ul class="list-inline-group text-right mb-0 pl-0">
                           <li class="list-inline-item">
                              <div class="form-group mb-0 amount-spent-select">
                                 
                              </div>
                           </li>
                        </ul>
                     </div>
                  </div>
               </div>
               <div class="card-body">
                  <div id="myChart"></div>
               </div>
            </div>
         </div>
      </div>


    </div>
    {% include 'includes/chart.html'%}
    {% endblock %}